<div class="imagetext">
<img
  class="mainphoto"
  src="../assets/images/mainpool.jpeg"
  alt="Italian Trulli"
/>

</div>

<div class="easy">We Make It Easy and afforable To Relax</div>

<hr style="height: 2px; border-width: 0; color: gray; background-color: gray" />

<div class="container">
  <img class="photo" src="../assets/images/icon1.png" alt="icon" />
  <div>
    <span class="header"> Family and Friends<br /> </span>
    <span class="middletext"> Affordable family fun, max comfort </span>
  </div>
  <img class="photo" src="../assets/images/checkicone.png" alt="checkpoint" />
  <div>
    <span class="header"> Rewards and Saving <br /> </span>
    <span class="middletext">
      Book and get 20% off all rooms for two or more
    </span>
    <span class="smallblue"> register </span>
  </div>

  <img class="photo" src="../assets/images/pinicon.png" alt="icon1" />
  <div>
    <span class="header"> Comfort and Support<br /> </span>
    <span class="middletext">
      The comfort you want at the prices you need
    </span>
    <span class="smallblue"> Sign up </span>
  </div>
</div>

<hr
  style="height: 20px; border-width: 0; color: gray; background-color: gray"
/>
