.myButton {
    margin-top: 5px;
}
body {
    margin-left: 10%;
    margin-right: 10%;
}
.search {
    margin-left: 35%;
    margin-right: 35%;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
}
label {
    font-weight: 400;
    font-size: 1.2rem;
}
.bottom {
    margin-left: 15%;
    margin-right: 15%;
}
.update {
    margin-right: 0%;
    float: left;
}
.confirm {
    float: left;
}