.resortflex {
  display: flex;
  justify-content: space-between;

  padding-right: 10px;
}
.palm {
  height: 300px;
  width: 400px;
  margin-left: 90px;
  border-radius: 10px;
 
}


.beach {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

.pool {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  margin-right: 90px;
}

.vacation {
  color: rgb(96, 96, 96);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 250px;
  font-weight: bold;
  font-size: 35px;
}
.FootGreeting {
  display: flex;
  justify-content: left;
}
.reward {
  margin-top: 15px;
  margin-left: 90px;
}
.save {
  margin-top: 15px;
  margin-left: 150px;
}
.family {
  margin-top: 15px;
  margin-left: 150px;
}

.atom {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.atom:hover {
  background-color: rgb(95, 95, 95);
  border-radius: 12px;

}

.sub {
  color: rgb(95, 95, 95);
}
