<div class="vacation">Your Vacation Starts Today</div>

<div class="resortflex">
  <img class="palm" src="../assets/images/hotelvis.jpeg" alt="hotels-palm" />
  <img
    class="beach"
    src="../assets/images/beach resort.jpeg"
    alt="hotels-beach"
  />
  <img class="pool" src="../assets/images/poolresort.jpeg" alt="hotels-pool" />
</div>
<hr
  style="
    height: 2px;
    border-width: 0;
    color: rgb(97, 95, 95);
    background-color: rgb(97, 95, 95);
  "
/>
<div class="FootGreeting">
  <div class="reward">
    <img class="atom" src="../assets/images/icon1.png" />
    <b>Reward yourself, Your Way</b>
    <span class="sub"> <br />Stay where you want. When you want. </span>
  </div>

  <div class="save">
    <img class="atom" src="../assets/images/checkicone.png" />
    <b>Rewards and Discounts</b>
    <span class="sub"> <br />Saving Your way. Save more worry less. </span>
  </div>

  <div class="family">
    <img class="atom" src="../assets/images/pinicon.png" />
    <b>Family, and Friends</b>
    <span class="sub">
      <br />We make it comfortable for your family to relax
    </span>
  </div>
</div>

<hr
  style="
    height: 20px;
    border-width: 0px;
    color: rgb(97, 95, 95);
    background-color: rgb(97, 95, 95);
  "
/>
