/* You can add global styles to this file, and also import other style files */
.center-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-column {
    width: 60vw;
}