<div>
    <p-dataView #dv [value]="rooms" layout="list">
        <ng-template pTemplate="header">

        </ng-template>
        <ng-template let-room pTemplate="listItem">
            <div class="room-list-item">
                <div class="room-list-details">
                    <span class="room-list-detail">Room: {{room.name}}</span>
                    <span class="room-list-detail">Size: {{room.size}}</span>
                </div>
                <div class="room-list-actionable">
                    <div>
                        <span class="room-total room-list-detail">{{totalPrice(room.prices) | currency}}</span>
                    </div>
                    <div>
                        <button pButton pRipple type="button" label="Make Reservation" class="p-button-raised p-button-success p-button-text"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
