.room-list-item {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
}

.room-list-detail {
    margin: 0 1rem 0 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.room-list-actionable {
    display: flex;
    flex-direction: row;
    align-items: center;
}