
<form style="text-align: center;" 
  class="formInput"
  (ngSubmit)="saveRes(); bookreservation.reset()"
  id="bookreservation"
  #bookreservation
>

 <div class="formgroup" >
  <h1 class="restext">Reservation Confirmation</h1>
  <ul><label style="padding: 10px;"  for="firstName">First Name</label>

  <input
    pInputText
    type="text"
    name="firstName"
    placeholder="First Name"
    required
    [(ngModel)]="firstName"
  /></ul>

  <ul> <label style="padding: 10px;" for="lastName">Last Name</label>
  <input
    pInputText
    type="text"
    name="lastName"
    placeholder="Last Name"
    required
    [(ngModel)]="lastName"
  /></ul>

  <ul><label style="padding: 10px;" for="email">Email</label>
  <input
    pInputText
    type="email"
    name="email"
    placeholder="abc@Gmail.com"
    id="email"
    required
    [(ngModel)]="email"
  /> </ul>

  <ul><label style="padding: 10px;" for="phone">phone</label>
 
  <input pInputText
    name="phone"
    mask="99-9999"
    type="tel"
    placeholder="999-999-9999"
    [(ngModel)]="phone"
  />
 
  </ul>
  <input class="button"pInputText type="submit" value="Submit" />
  <hr
  style="height: 30px; border-width: 0; color: rgb(197, 195, 195); background-color: rgb(197, 195, 195)"
/>
</div>

</form>

<!-- 
    hotel id from the url and map it to the hotel's name
    reservation date from url and map it to the reservation date to be displayed
    room id from the url and map it to the room's number
    price from the previous card
    edit the phone submission form
 -->

<!-- <form style="text-align: center;">

  <div class="form-group">
    <li><input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" placeholder="first name" /></li>
    <li><input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" placeholder="last name" /></li>
    <li><input type="email" name="email" id="email" [(ngModel)]="email" placeholder="email" /></li>
    <li><input type="text" name="phone" id="phone" [(ngModel)]="phone" placeholder="phone" /></li>
    <button type="submit" class="btn p-button-raised" (click)="makeReservation()">
      <span class="pi pi-check"></span>
    </button>
  </div>

</form> -->
